NEXT_PUBLIC_SUPABASE_URL=https://hjimkavalsxgxrpdqtef.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_Et5nGXbfaFhUo6LtvzfxQg_y_-90g70
NEXT_PUBLIC_SITE_URL=https://little-strays-8dls.vercel.app
